.content{
  display: grid;
  justify-content: center;
  align-content: center;
  .content__squares{
    display: grid;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    height: 100%;

    .content__item{
      background: linear-gradient(45deg, #facb40, #fabc00);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;
      border-radius: 9px;
      padding: 30px;
    }
  }
}